<!-- user.component.html -->
<div class="logo-container">
  <span class="logo">FeedGen</span>
</div>
<div class="logout-container">
  <button id="logout-button" class="logout-button">Logout</button>
</div>
<div class="user-id-container">
  <h1>User Details:</h1>
  <p>User ID: <span id="user-id-placeholder">{{ user.userId }}</span></p>
  <p>Name: <span id="user-name-placeholder">{{ userDetails.userName }}</span></p>
  <p>Username: <span id="user-username-placeholder">{{ userDetails.userUsername }}</span></p>
  <p>Email ID: <span id="user-email-placeholder">{{ userDetails.userEmail }}</span></p>
</div>

<!-- "Upload" button has been removed -->
<div class="buttons-container">
  <button class="action-button">View</button>
</div>
