<div class="logo-container">
    <span class="logo">FeedGen</span>
  </div>
  <div class="logout-container">
    <button id="logout-button" class="logout-button">Logout</button>
  </div>
  <div class="user-id-container">
    <h1>Admin Details:</h1>
    <p>Admin ID: <span id="admin-id-placeholder">{{ adminDetails.adminId }}</span></p>
    <p>Name: <span id="admin-name-placeholder">{{ adminDetails.adminName }}</span></p>
    <p>Username: <span id="admin-username-placeholder">{{ adminDetails.adminUsername }}</span></p>
    <p>Email ID: <span id="admin-email-placeholder">{{ adminDetails.adminEmail }}</span></p>
  </div>
  
  <div class="buttons-container">
    <button class="action-button">Upload</button>
    <button class="action-button">View</button>
  </div>
  